<% semantic_form_for [@business, @invoice] do |f| %>
 	<% f.inputs do %>
		<%= f.input :consigner %>
	<% end %>
<% end %>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", invoices_path(@business), :class => "button" %> 
</div>