<%= render :partial => 'shared/top_bar' %>
<div class="block">
  <h3>Simple Block</h3>
  <div class="content">
    <p>Some useful text</p>
  </div>
</div>
<%= render :partial => 'shared/bottom_bar' %>
