<% semantic_form_for @consigner do |f| %>
	<% f.inputs :name, :biz_name %> 
	<% f.inputs :street, :street_2, :city, :state, :zipcode %>
	<% f.inputs :phone, :email, :website, :fax, :notes, :percentage %>
	<%= f.buttons %>
<% end %>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", consigners_path, :class => "button" %> 
</div>