<div class="block">
  <h3>Sidebar</h3>
	<p>This would be a good place for some useful text or information, things like current stock,
		total sales for year or something. Or maybe even a bit of a tutorial on usage?
	</p>
</div>