      <div id="sidebar">
        <ul id="sidebar-items">
        	<li><h3><a href="login">Login</a></h3>
          <li>
            <h3>Join the community</h3>
            <ul class="links">
              <li><a href="http://www.rubyonrails.org/">Ruby on Rails</a></li>
              <li><a href="http://weblog.rubyonrails.org/">Official weblog</a></li>
              <li><a href="http://wiki.rubyonrails.org/">Wiki</a></li>
            </ul>
          </li>
          
          <li>
            <h3>Browse the documentation</h3>
            <ul class="links">
              <li><a href="http://api.rubyonrails.org/">Rails API</a></li>
              <li><a href="http://stdlib.rubyonrails.org/">Ruby standard library</a></li>
              <li><a href="http://corelib.rubyonrails.org/">Ruby core</a></li>
              <li><a href="http://guides.rubyonrails.org/">Rails Guides</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div id="content">
          <h2>Consignment sales tracking that's at least not <em>more</em> difficult!</h2>

          <h2>Here&rsquo;s how to get rolling:</h2>
          
          <ol>          
            <li>
              <h2><a href="signup">Signup</a> for your user account</h2>
							<p>Or <a href="login">login</a> if you already have an account</p>
            </li>
            
            <li>
              <h2><a href="businesses/new">Create a business</a></h2>
								<p>Create your business' profile so that you can add consigners and products and start tracking your sales</p>

            </li>
          </ol>
      </div>
      
      <div id="footer">&nbsp;</div>
